.editPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 300px 100px 300px;
  border: 1px solid black;
  padding-bottom: 100px;
  padding-top: 50px;
  background-color: rgb(99, 145, 145);
}

.cancelSaveBtns {
  margin-top: 10px;
}

.idInput,
.nameInput,
.ownerInput,
.updatedAtInput {
  height: 30px;
  width: 200px;
  outline: none;
}

.editHeader {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .editPage {
    margin: 0;
  }
}
